body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.join-box input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.join-box button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.join-box button:hover {
  background-color: #019875;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.action-buttons button {
  width: 30vw; /* Each button takes 25% of the screen width */
  max-width: 500px;
  font-size: 5vw;
  padding: 4vw 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

button.fold {
  background-color: #d63031;
}
button.fold:hover {
  background-color: #c0392b;
}

button.check {
  background-color: #0bca1b;
}
button.check:hover {
  background-color: #4ec981;
}

button.raise {
  background-color: #00cec9;
}

button.raise:hover {
  background-color: #00b3b3;
}

.hand-box {
  margin-top: 30px;
}

#handDisplay {
  font-size: 28px;
  margin-top: 10px;
}

#playerInfo {
  background-color: #2a2a2a;
  color: white;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  width: 240px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

#playerInfo .player-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

#playerInfo .balance {
  font-size: 16px;
  margin-bottom: 10px;
}

.badge {
  background-color: #ffd700;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  font-weight: bold;
}

.badge.dealer {
  top: 10px;
  left: 10px;
}

.badge.small-blind {
  top: 10px;
  right: 10px;
}

.badge.big-blind {
  bottom: 10px;
  left: 10px;
}
